<!-- <p>Edit <%= resource_name.to_s.humanize %></p> -->
<p class ="m-page-title center_table">تغییر ایمیل و رمز عبور</p>
<div class="col-md-7 center_table">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
            <div class="panel-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field">
                    <%= f.label 'ایمیل :' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="field">
                    <%= f.label 'رمز عبور جدید :' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <div class="field">
                    <%= f.label 'تکرار رمز عبور جدید :' %>&nbsp;
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>

                  <div class="field">
                    <%= f.label 'رمز عبور فعلی :' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.password_field :current_password, autocomplete: "off" %>
                  </div>

                  <div class="center" class="actions">
                    <%= f.submit "تغییر",:class => "btn btn-default" %>
                  </div>
                <% end %>

                <div class="center"><%= link_to 'بازگشت به صفحه ی اصلی', root_path %></div>
            </div>
        </div>
    </div>
</div>