<div class="row">
<% if params[:title]== "new" %>
  <div class="m-page-title"><h2>نسخه جدید</h2></div>
<% else %>
  <div class="m-page-title"><h2>ویرایش نسخه  <%= @prescription.doctor_name %></h2></div>
<% end %>
  <section id="main-content loading">
    <section class="wrapper">
      <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
                <header class="panel-heading"></header>
                <div class="panel-body">
                  <%= form_for(@prescription) do |f| %>
                    <% if @prescription.errors.any? %>
                      <div id="error_explanation">
                        <h3><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h3>
                        <ul>
                        <% @prescription.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                    <div class="field">
                      <%= f.label "عنوان نسخه:" %>&nbsp;
                      <%= f.text_field :doctor_name , :required => true %>
                    </div><br>
                    <div class = "center" class="actions">
                      <%= f.submit (f.object.new_record? ? "ایجاد نسخه" : "ویرایش نسخه") ,:class => "btn btn-default"%>
                    </div>
                  <% end %>
                </div>
                <div class = "center"><%= link_to 'بازگشت به صفحه قبلی', prescriptions_path %> </div><br>
              </div>
            </div>
          </div>
    </section>
  </section>