  <% if params[:title]== "new" %>
        <div class="m-page-title"><h2>افزودن نزدیکان</h2></div>
  <% else %>
        <div class="m-page-title"><h2>ویرایش مشخصات نزدیکان</h2></div>
  <% end %>
  <section id="main-content loading">
    <section class="wrapper">
      <div class="row">
          <div class="col-sm-8">
            <div class="panel panel-default">
                <header class="panel-heading"></header>
                <div class="panel-body">
                  <%= form_for(@relative) do |f| %>
                    <% if @relative.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@relative.errors.count, "error") %> prohibited this relative from being saved:</h2>
                        <ul>
                        <% @relative.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="field">
                      <%= f.label 'نام :' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= f.text_field :name , :required => true %>
                    </div>
                    <div class="field">
                      <%= f.label 'ایمیل :' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <%= f.text_field :email, :required => true %>
                    </div>
                    <div class="field">
                      <%= f.label 'شماره تماس :' %>&nbsp;
                      <%= f.text_field :phone_number , :required => true %>
                    </div>
                    <div class="center" class="actions">
                      <%= f.submit (f.object.new_record? ? "افزودن" : "به روز رسانی") ,:class => "btn btn-default"%>
                    </div><br>
                    <div class="center"><%= link_to 'بازگشت به صفحه ی نزدیکان', relatives_path %></div>

                  <% end %>
            </div>
          </div>
        </div>
      </div>
  </section>
</section>