<div class = "row">
    <p class ="m-page-title center_table">تاریخچه مصرف</p>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                      <% consumption_table %>
                        <thead>
                          <tr>
                            <th>نام دارو  </th>
                            <th>زمان مصرف</th>
                            <th>وضعیت مصرف</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for i in 0..all_times.size-1 %>  
                            <% consume_vi(i,all_times[i][1],all_times[i][0]) %>
                            <tr>
                              <td><%= find_drug_name(all_times[i][1]) %></td>
                              <% zone = ActiveSupport::TimeZone.new("Iran") %>
                              <% @dif = 4.hours + 30.minutes %>
                              <% all_times[i][0] = all_times[i][0] + @dif %>
                              <td><%= Date.civil(all_times[i][0].to_time.year, all_times[i][0].to_time.month,all_times[i][0].to_time.day).to_parsi%>&nbsp;&nbsp;&nbsp;<%= all_times[i][0].to_time.strftime("%M : %H") %></td>
                              <td><%= all_times[i][2] %></td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<table>
  <thead>
    <tr>
     
      <th>Prow_id</th>
      <th>Times</th>  
      <th>Take status</th>  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumptions.each do |consumption| %>
      <tr>

        <td><%= consumption.prow_id %></td>
        <td><%= consumption.created_at %></td>
        <td><%= consumption.take_status %></td>
        <td><%= link_to 'Destroy', consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

