
<!DOCTYPE html>
<html>
<head>
    <title>ظرف داروی هوشمند</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="page-loader"></div>

<div id="page" class="hfeed site">
    <div class="l-sidebar-left">
        
        <a href="#" class="sidebar-open fa fa-plus"></a>    
        
        <div class = "l-header-wrap">
            <header id="masthead" class="m-site-header" role="banner">
                <div class="m-site-info">
                    <img src="/assets/drug_box/logo2.gif">
                </div>
                
                <div class="m-current-user-actions">
                    <% if user_signed_in? %>
                        <ul class="user-actions">
                            <li><%= link_to "تغییر ایمیل و رمز عبور", edit_user_registration_path%></li>
                        <% if !current_user.profile.blank? %>
                            <li><%= link_to "پروفایل شما", profile_path(current_user.profile.id), :remote => true %></li>
                            <% if !current_user.relatives.blank? %>
                                <li><%= link_to "نزدیکان شما", relatives_path , :remote => true %></li>
                            <% else %>
                                <li><%= link_to "به نزدیکان خود بیافزایید", new_relative_path(:title => "new") , :remote => true %></li>
                            <% end %>
                            <li><%= link_to "روش یادآوری", notifications_path, :remote => true %></li>
                        <% if !current_user.prescriptions.blank? %>
                            <li><%= link_to "افزودن دارو", new_prow_path(:title => "new") , :remote => true %></li>
                            <li><%= link_to "نسخه ها", prescriptions_path, :remote => true %></li>
                        <% else %>
                            <li><%= link_to "افزودن نسخه جدید", new_prescription_path(:title => "new"), :remote => true %></li>
                        <% end %>
                            <li><%= link_to "تاریخچه مصرف داروها", consumptions_path, :remote => true %></li>
                        <% else %>
                            <li><%= link_to "ایجاد پروفایل", new_profile_path(:title => "new") ,:remote => true %></li>
                        <% end %>
                            <li><%= link_to 'خروج از حساب کاربری', destroy_user_session_path, :method => :delete , :style=>'color:#FFF;'  %></li>
                        </ul>
                    <% else %>
                        <ul class="user-actions" id = "user">
                            <li><%= link_to 'ورود', new_user_session_path , :style=>'color:#FFF;' %></li><br><br>
                            <li><%= link_to 'ایجاد حساب کاربری', new_user_registration_path , :style=>'color:#FFF;'  %></li>
                        </ul>
                    <% end %>
                </div>
                <div class="clearfix"></div>
            </header><!-- #masthead -->
        </div><!-- header-wrap -->  
    </div><!-- /#sidebar-wrapper -->      
    
    <!-- <div class="l-sidebar-left-color  background-theme-color"></div> -->
    
    <div class="l-cont-side-wrap">
        <div class="l-navigation-wrap background-theme-color">
            <div class="navbar navbar-inverse">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse"></button>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav float">
                        <li><%= link_to 'خرید ظرف دارو', buy_box_path%></li>
                        <li><%= link_to 'راهنمای سایت', help_path%></li>
                        <li><%= link_to 'درباره ی ما', contact_path%></li>
                        <li><%= link_to 'صفحه اصلی', root_path%></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- l-menu-wrap -->
    
        <div class="l-page-wrapper">
            <div class="l-content-wrap" id="main-container">
                <%= yield %>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

jQuery(window).load(function() {

  jQuery('.flexslider').flexslider({
    animation: "fade",
    slideshow: false,
    smoothHeight: false,
    controlNav: false,
    prevText: "",
    nextText: "",
    directionNav: true,
    start: function(slider) {
      slider.removeClass('loading');
    }
  });

  jQuery('.flexslider-carousel').flexslider({
    animation: "slide",
    slideshow: true,
    smoothHeight: true,
    directionNav: true,
    controlNav: false,
    prevText: '',
    nextText: '',
    itemWidth: 280,
    itemMargin: 26,
    minItems: 3,
    maxItems: 5,
    move: 3
  });

  
});
</script>


</body>
</html>
